body{
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

.corFundo{
  background-color: #003049;
  padding: 10px 0px 10px 0px;
}

.logoNome{
  display: flex;
  justify-content: center;
}

#logo{
  width: 300px;
}

#nome{
  font-size: 5rem;
  align-self: center;
  color: white;
  margin-left: 10px;
}

nav{
  background-color: #F77F00;
  padding-left: 110px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li{
  float: left;
}

nav li a, .botao{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, .submenu:hover .botao{
  background-color: #FCBF49;
}

nav li.submenu{
  display: inline-block;
}

.itens{
  display: none;
  position: absolute;
  background-color: #FCBF49;
}

.itens a{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.itens a:hover{
  background-color: #FFB703;
}

.submenu:hover .itens{
  display: block;
}

.conteudo{
  margin: 10px 120px 0 120px;
  padding-bottom: 10px;
  display: flex;
}

.conteudo h2{
  font-weight: bold;
  color: #F77F00;
}

.conteudo p{ 
  font-size: 1.3rem;
  text-align: justify;
  line-height: 30px;
}

.informacao{
  display: inline;
  padding: 0  15px 0 15px;
  box-sizing: border-box;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iconeTexto{
  display: flex;
  margin-bottom: 25px;
}

.iconeTexto p{
  margin: 0;
  align-self: center;
}

#icone{
  width: 25px;
  height: 25px;
  margin-top: 2px;
  margin-right: 10px;
}

.formulario{
  margin-left: 20px;
  padding: 0  15px 15px 15px;
  box-sizing: border-box;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form label{
  display: block;
  font-size: 1.3rem;
  margin: 15px 0 8px;
}

.input-padrao{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.botaoFormulario{
  background-color: #FFB703;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  padding: 20px;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 20px; 
}

.botaoFormulario:hover{
  box-shadow: 0 6px 20px 0  #FFB703;
}

.rodape{
  background-color: #003049;
  padding: 1px;
}

.rodape p{
  font-size: 0.75rem;
  text-align: center;
  color: white;
}